.body_login{
    margin-top: -100px;
    padding-top: 100px;
    margin-bottom: -100px;
    padding-bottom: 133px;
    background: #ffe259;
    background: linear-gradient(to right, #FEE78F, #CA6F14);
}


.contenedor_login{
    margin-top: 100px;
}

.abajo_login{
    padding-bottom: 20px;
}

.pokebola{
    width: 20px;
    margin-right: 10px;
}

.bg-login{
    background-image: url(../../assets/pikachu2.jpg);
    background-position: center center;
    background-repeat : no-repeat;
   background-size : 800px;
}